.imaginaition-glow {
  background-image: repeating-linear-gradient(
    -90deg,
    rgb(232 121 249) 0%, /* fuchsia-400 */
    rgb(232 121 249) 40%,
    #ffa5e7 50%,
    rgb(232 121 249) 60%,
    rgb(232 121 249) 100%
  );
  background-size: 200% 100%;
  background-clip: text;
  color: transparent;
  animation: pulse 2s linear infinite;
}

@keyframes pulse {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: -100% 0;
  }
}
