#imaginaition-title {
  background-image: repeating-linear-gradient(
    -90deg,
    black 0%,
    black 10%,
    rgb(255, 154, 65) 50%,
    black 100%,
    black 100%
  );
  background-size: 200% 100%;
  background-clip: text;
  color: transparent;
  animation: pulse 5s linear infinite;
}

@keyframes pulse {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: -100% 0;
  }
}
