.imaginaition-glow {
  background-image: repeating-linear-gradient(
    -90deg,
    rgba(255, 154, 65, 1) 0%,
    rgba(255, 154, 65, 1) 40%,
    #ffcfa5 50%,
    rgba(255, 154, 65, 1) 60%,
    rgba(255, 154, 65, 1) 100%
  );
  background-size: 200% 100%;
  background-clip: text;
  color: transparent;
  animation: pulse 5s linear infinite;
}

@keyframes pulse {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: -100% 0;
  }
}
